@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

body,
html {
  margin: 0;
  width: 100vw;
}

html {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100%;
  height: 100vh;
  background-image: url("/potential-background.jpg");
}
#__next {
  height: 100vh;
  width: 100vw;
}
#site-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar {
  position: static;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 0 2rem;
  height: 20vh;
}

.navbar-button-group {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
.nav-bar-back-button {
  height: 50px;
  cursor: pointer;
}
.nav-bar-button {
  border: none;
  height: 50px;
  font-size: 1.5vw;
  font-family: "Inter";
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.home-container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.home-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.home-right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#paint-splatter {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 80%;
  height: auto;
  visibility: hidden;
}
#blackwhiteprof {
  position: absolute;
  width: 25%;
  height: auto;
  visibility: hidden;
}

#home-text-container {
  width: 80%;
  top: 100px;
  visibility: hidden;
}

.home-text {
  font-family: "Inter";
  font-style: normal;
  color: white;
}

.line-1.home-text {
  font-weight: 400;
  font-size: 2.5vw;
  /* line-height: 29px; */
}

.line-2.home-text {
  font-weight: 700;
  font-size: 5vw;
  /* line-height: 58px; */
  overflow: none;
  white-space: nowrap;
}
.line-3.home-text {
  font-style: italic;
  font-weight: 400;
  font-size: 3vw;
  /* line-height: 29px; */
}
.line-4.home-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  /* line-height: 18px; */
}
.line-5.home-text {
  padding-top: 0.5rem;
}
.line-6.home-text {
  margin-top: 2rem;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 19px;
}

.line-7.home-text {
  margin-top: 1rem;
  margin-right: 7rem;
  text-align: right;
  font-style: italic;
  font-weight: 400;
  font-size: 1vw;
  line-height: 15px;
}

.line-8.home-text {
  margin-top: 0.5rem;
  margin-right: 6rem;
  text-align: right;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5vw;
  /* line-height: 5vh; */
}

#linkedin-white {
  height: 36px;
  width: 36px;
}
#github-white {
  height: 36px;
  width: 36px;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

#projects-container {
  display: flex;

  width: 100%;
  height: 100%;
  visibility: hidden;
}

#project-container {
  position: relative;
  /* right: 25px; */
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
  align-items: center;
}

#project-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
  bottom: 75px;
  align-items: center;


}

.project-button {
  visibility: hidden;
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  height: 70%;
  width: 25%;
 

}

.project-video {
  width: 40%;
}

.project-icons {
  height: 40px;
  width: 40px;
}

.video-links-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  /* margin-left: 100px; */
}

#project-link-icon {
  margin: 10px;
  height: 25px;
  width: 25px;
}

#project-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-text-container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 40%;
  font-family: "Inter";
}
.project-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#project-name {
  font-size: 6vw;
  font-weight: bold;
  width: 100%;
  margin-right: 10px;
}
#project-description {
  font-size: 1.5rem;
  font-weight: lighter;
  width: 100%;
}
#project-technologies {
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
  width: 100%;
}

@media screen and (max-width: 580px) {
body {
  overflow-y: scroll;
}
  .navbar {
  width: 100vw;
}
  #project-container {
    flex-direction: column;
    padding-left: 10%;
   padding-right: 10%; 
  }
  .nav-bar-back-button {
    align-self: start; 
  }
  .project-text-container {
    width: 100%;
  }
  .project-video {
    width: 100%;
  }
  #project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    left: 50px;
    top: 2px;
  }
  .project-logo {
    height: 100%;
  }
  .project-button {
    display: flex;
    height: 30%;
    width: 50%;
  }
  .navbar-button-group {
    width: 100%;
  }
  .nav-bar-button {
    font-size: 4vw;
  }

  .home-right-container {
    display: none;
  }
  .home-left-container {
    width: 100%;
    justify-content: flex-end;
  }
  .line-1.home-text {
    font-weight: 400;
    font-size: 5vw;
    /* line-height: 29px; */
  }

  .line-2.home-text {
    font-weight: 700;
    font-size: 10vw;
    /* line-height: 58px; */
    overflow: none;
    white-space: nowrap;
  }
  .line-3.home-text {
    font-style: italic;
    font-weight: 400;
    font-size: 6vw;
    /* line-height: 29px; */
  }
  .line-4.home-text {
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    /* line-height: 18px; */
  }
  .line-5.home-text {
    padding-top: 0.5rem;
  }
  .line-6.home-text {
    margin-top: 2rem;
    font-style: italic;
    font-weight: 400;
    font-size: 3vw;
    line-height: 19px;
  }

  .line-7.home-text {
    margin-top: 1rem;
    margin-right: 7rem;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    font-size: 2vw;
    line-height: 15px;
  }

  .line-8.home-text {
    margin-top: 0.5rem;
    margin-right: 6rem;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    font-size: 3vw;
    /* line-height: 5vh; */
  }
}
