body {
  box-sizing: border-box;
  height: 100vh;
  background-color: black;
}
#__next {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;

  border: solid black;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
  background-color: #fff;
}


.navbar-button-group {
  display: flex;
  width: 40%;
  justify-content: space-between;
}


.home-container {
  display:flex;
  width: 100%;
  height: 80%;
  border: solid white;
}

.home-left-container {
  width: 50%;
  height: 100%;
  border: solid white;
}

.home-right-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: solid white;
}

#paint-splatter {
  /* width: 80%; */
  height: 90%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#blackwhiteprof {
  position: absolute;
  height: 70%;
}
