@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

body, html{
  margin:0;
  padding:0;
}

html {
  height: 100vh;
}
body {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100vh;
  background-image:url('/potential-background.jpg')
}
#__next {
  height: 80%;
  width: 100%;
}
#site-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
}

.navbar-button-group {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.home-container {
  display: flex;
  width: 100%;
  height: 80%;
}

.home-left-container {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.home-right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#paint-splatter {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  visibility: hidden;
}
#blackwhiteprof {
  position: absolute;
  max-height: 500px;
  visibility: hidden;
}

#home-text-container {
  width: 80%;
  top: 100px;
  visibility: hidden;

}

.home-text {
  font-family: "Inter";
  font-style: normal;
  color: white;
}

.line-1.home-text {
  font-weight: 400;
  font-size: 1em;
  line-height: 29px;
}

.line-2.home-text {
  font-weight: 700;
  font-size: 3em;
  line-height: 58px;
  overflow: none;
  white-space: nowrap;
}
.line-3.home-text {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.line-4.home-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.line-5.home-text {
  padding-top: 0.5rem;
}
.line-6.home-text {
  margin-top: 2rem;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.line-7.home-text {
  margin-top: 1rem;
  margin-right: 7rem;
  text-align: right;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.line-8.home-text {
  margin-top: 0.5rem;
  margin-right: 6rem;
  text-align: right;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

#linkedin-white {
  height: 36px;
  width: 36px;
}
#github-white {
  height: 36px;
  width: 36px;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.nav-bar-button {
  border: none;
  font-size: medium;
  font-family: "Inter";
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

#projects-container {
  display: flex;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#projects-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}

#projects-right-container {
  display: flex;
  width: 20%;
  justify-content: center;
}

#project-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.project-button {
  text-align: start;
  border: none;
  margin-top: 50px;
  background-color: transparent;
  font-style: italic;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.project-video {
  width: 90%;
}

.project-icons {
  height: 40px;
  width: 40px;
}

.video-links-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  margin-left: 100px;
}

#project-link-icon {
  margin: 10px;
  height: 25px;
  width: 25px;
}

#project-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-text-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 50px;
  color: white;
  font-family: "Inter";
}
.project-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#project-name {
  font-size: 36px;
  font-weight: bold;
  width: auto;
  margin-right: 10px;
}
#project-description {
  font-size: 24px;
  font-weight: lighter;
}
#project-technologies {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}


